.dateBox--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 90px;
    margin: 0 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #5ac7b5;
    color: #ffffff;
}

.dateBox--number {
    font-size: 30px;
}

.dateBox--text {
    text-transform: uppercase;
    font-size: 15px;
}
